<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WPattern Frameworks RESTEasy and AngularJS</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script type="text/javascript" src="sum.js"></script>
  </head>
  <body>
  
  <a href="sum2.html">Diminuir</a>
          <a href="fatorial.html">fatorial</a>
		  <br>
		  <br>
  
    <div ng-app="sum">
	
  
      <div ng-controller="sumCtrl">
          
          <input type="text" name="value1" ng-model="value1" required> </br>
          <input type="text" name="value2" ng-model="value2" required> </br>
		  <br>
		  <button ng-click="calculate(value1, value2)">Calculate</button> </br>
		  
          <p>Result: {{ valor }}</p>
      </div>
    </div>
  </body>
</html>
